@import "theme.css";

/* === General === */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
  padding: 0;
  border: none;
  margin: 0;
}

/* === Main Background === */

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}
window#waybar > box {
  margin: 0px;
}

/* === Tooltip === */

tooltip {
  background: @tooltip;
  border: solid;
  border-width: 1.5px;
  border-radius: 8px;
  border-color: @white;
}
tooltip label {
  color: @white;
  font-weight: normal;
  margin: -1.5px 3px;
}

/* === Workspace Buttons === */

#workspaces button {
  color: @white;
  border-radius: 8px;
}
#workspaces button.active {
  color: @purple;
  border-color: @border-color;
  border-style: solid;
  margin: 2px;
}

/* == Workspaces == */

#workspaces {
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  margin: 1px;
}

/* == Machine Info == */

#machine-info {
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  margin: 1px;
}

#temperature {
  background: @black;
}

#memory {
  background: @black;
  padding-left: 1px;
  padding-right: 0;
}
#memory.warning {
  color: @warning;
}
#memory.critical {
  color: @critical;
}

#cpu {
  background: @black;
}

/* == Distro and Power Menu == */

#custom-suspend,
#custom-power,
#custom-quit,
#custom-lock,
#custom-reboot,
#custom-distro {
  background: @black;
  color: @purple;
  font-size: 14.6px;
  padding: 0 0 0 5px;
}

#power {
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  margin: 1px;
}

/* == Time == */

#clockg {
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  margin: 1px;
}

#idle_inhibitor {
  margin-right: -4px;
}
#clock.time {
  padding: 0 0px 0 0;
}

/* == Network == */

#networkg {
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  padding-right: 3px;
  margin: 1px;
}

#network {
  padding-left: 5px;
  padding-right: 8px;
}

#custom-wifi {
  background: @laptop;
  padding-left: 5px;
  padding-right: 8px;
}

#bluetooth {
  padding-right: 5px;
  background: @laptop;
}
#bluetooth:hover {
  color: @black;
  text-shadow: none;
  box-shadow: none;
}

/* == Media and Cava == */

#custom-cava_mviz,
#custom-media {
  color: @module-fg;
  font-weight: normal;
  padding-right: 8px;
  padding-left: 8px;
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  margin: 1px;
}

#custom-cava_mviz {
  color: @purple;
}

/* == Output Device == */

#pulseaudio {
  background: @black;
}
#pulseaudio:hover {
  color: @black;
  text-shadow: none;
  box-shadow: none;
}

/* == Laptop == */

#custom-backlight,
#battery {
  background: @black;
}
#battery.full {
  color: @full;
}
#battery.good {
  color: @white;
}
#battery.warning {
  color: @warning;
}
#battery.critical {
  color: @critical;
}
#battery.charging {
  color: @charging;
}

/* == Hyprland Keyboard and Submap == */

#submap,
#language {
  color: @white;
  background: @black;
  box-shadow: none;
  opacity: 1;
  padding: 0 4px;
}

#keyboardg {
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  margin: 1px;
}

/* == Pomodoro == */

#custom-pomodoro {
  color: @white;
  transition: none;
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  margin: 1px;
}

/* == Tray Bar == */

#tray {
  color: @white;
  transition: none;
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin-right: 3px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 1px;
}

/* == Taskwarrior == */

#custom-taskwarrior {
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: @white;
  margin-right: 3px;
  margin: 1px;
  padding-left: 1px;
  padding-right: 0;
  padding: 0 4px;
}

/* == Weather == */

#custom-weather {
  background: @black;
  border-color: @border-color;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  color: @white;
  margin-right: 3px;
  margin: 1px;
  padding-left: 1px;
  padding-right: 0;
  padding: 0 4px;
}

/* == Hovering == */

#workspaces button:hover {
  color: @purple;
  background: @dim-black;
  text-shadow: none;
  box-shadow: none;
}

#battery:hover,
#battery:hover,
#bluetooth:hover,
#cpu:hover,
#custom-backlight:hover,
#custom-backlight:hover,
#cpu:hover,
#temperature:hover,
#temperature:hover,
#custom-media:hover,
#custom-pomodoro:hover,
#custom-suspend:hover,
#custom-power:hover,
#custom-quit:hover,
#custom-lock:hover,
#custom-reboot:hover,
#custom-submap:hover,
#custom-taskwarrior:hover,
#custom-update:hover,
#custom-weather:hover,
#custom-wifi:hover,
#custom-workspaces:hover,
#idle_inhibitor:hover,
#language:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#submap:hover,
#workspaces:hover,
#clock:hover {
  color: @purple;
  text-shadow: none;
  box-shadow: none;
}

/* == Misc == */

#bluetooth,
#clock,
#custom-backlight,
#cpu,
#temperature,
#custom-lock,
#custom-media,
#custom-suspend,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-submap,
#custom-taskwarrior,
#custom-update,
#custom-weather,
#custom-wifi,
#custom-workspaces,
#custom-pomodoro,
#custom-pomodoro-old,
#custom-ws,
#idle_inhibitor,
#memory,
#network,
#pulseaudio,
#window,
#workspaces,
#battery {
  opacity: 1;
  color: @white;
  padding: 0 4px;
}
